@use "sass:meta";

html[data-theme="light"] {
    @include meta.load-css("highlight.js/styles/github.css");
}
html[data-theme="dark"] {
    @include meta.load-css("highlight.js/styles/github-dark.css");
}
