:root {
    --color-agree: #0f766e;
    --color-agree-light: #14b8a6;
    --color-agree-dark: #0b5b55;
    --color-disagree: #d11a66;
    --color-disagree-light: #f43f5e;
    --color-disagree-dark: #a91552;
    --color-main: #5b1497;
    --color-main-light: #8c50c7;
    --color-main-dark: #4d1080;
    --color-white: #E6EDF3;

    --color-background: #F3F4F6;
    --color-navbar-background: #5b1497;
    --color-footer-background: #4d1080;
    --color-rfc-card: #FEFEFE;
    --color-argument-card: #FEFEFE;
    --color-font: #1f2937;
    --color-font-second: #4B5563;
    --color-vote-bar-background: #edf2f7;

    /*yes arrow*/
    --color-agree-arrow: #0f766e;
    --color-agree-arrow-border: #14b8a6;
    --color-agree-arrow-hover: #3AA574;
    --color-agree-arrow-background: #F0FDF4;

    /*no arrow*/
    --color-disagree-arrow: #d11a66;
    --color-disagree-arrow-border: #f43f5e;
    --color-disagree-arrow-hover: #a91552;
    --color-disagree-arrow-background: #fff5f5;
}

.dark {
    /*--color-background: #161B22;*/
    --color-background: #1f252e;
    --color-navbar-background: #0D1117;
    --color-footer-background: #0D1117;
    --color-rfc-card: #191e26;
    --color-argument-card: #191e26;
    --color-font: #adbac7;
    --color-font-second: #E6EDF3;
    --color-vote-bar-background: #333333;
    /*yes arrow*/
    --color-agree-arrow: #80C251;
    --color-agree-arrow-border: #80C251;
    --color-agree-arrow-hover: #14b8a6;
    --color-agree-arrow-background: #29392C;

    /*no arrow*/
    --color-disagree-arrow: #EB9CA6;
    --color-disagree-arrow-border: #EB9CA6;
    --color-disagree-arrow-hover: #694048;
    --color-disagree-arrow-background: #311820
}
