@import '_variables.css';
@import '_fixes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

pre.shiki {
    background-color: #f5f5f5 !important;
    width: 100%;
}
